*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* background-color: black; */
    /* color: white; */
}
nav{
    display: grid;
    border-bottom: 5px white;
    height: 5px;
    
}
.s1 p{
    display: inline-block;
    justify-content: space-evenly;
    
}
.s2{
    display: inline-block;
}