div{
    border: 2px solid;
    display: flex;
    height: 200px;

}
div p{
    border: 1px ;
    height: 50px;
    width: 200px;
}
.p1{
    /* order: 2; */
    /* flex-grow: 10; */
    flex-shrink: 3;
    align-self: center;
    align-self: flex-end;
}
.p2{
    /* order: 5; */
    /* flex-grow: 5; */
    align-self: center;
}
.p3{
    /* order: 1; */
    /* flex-grow: 3; */
    flex-shrink: 1;
}
.p4{
    /* order: 0; */
    flex-shrink: 1;
    /* flex-grow: 9; */
}


/* flex-grow


*/