*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    display: flex;
   height: 50px;
    flex-direction: row; 
    justify-content: space-around;
    padding-top: 30px;
}
/* .sec1{
    padding-top: 30px;
}
.sec2{
    padding-top: 30px;
} */
