*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    height: 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: right; */
    /* justify-content: space-around; */
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
    
    /* flex-direction:row-reverse;   we have row , column row reverse and column reverse */ 
    /* flex-wrap: wrap; */
}
nav img{
    height: 60px;
    width: 60px;
}
nav p {
    text-align: right;
    padding-top: 20px;
    font-size: small;
    
}
.p1{
    padding-left: 450px;
    
    
}
.p2{
    padding-left: 60px;
}
.p3{
     padding-left: 60px;
}
.p4{
     padding-left: 60px;
}
.p5{
     padding-left: 60px;
}
.p6{
     padding-left: 60px;
}
.p9{
    padding-left: 60px;
}
.sec1{
    background-image: url("https://images.squarespace-cdn.com/content/v1/534444fbe4b0f9ffdd2ebc61/1510764242245-JIWZSYBY8CYHZBOEUGAM/Ray+Romano+Loft+renovation+nyc+brooklyn+hamptons+luxury+construction.jpg?format=2500w");
    background-attachment: fixed;
    background-size: cover;
    height: 900px;
    width: 1200x;
    position: relative;
    
}
.p7{
    background-color: rgba(244, 238, 238, 0.5);
    color: rgb(0, 0, 0);
    background-size: contain;
    /* padding-left: 50px; */
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 40px;
    padding: 20px;
    position: absolute;
    bottom: 80%;
    right: 50%;
    letter-spacing: 5px;
    text-transform: uppercase;
    left: 5%;
}
.p8{
    background-color: rgba(244, 238, 238, 0.5);
    color: rgb(0, 0, 0);
    background-size: contain;
    /* padding-left: 50p */
    font-size: 20px;
    letter-spacing: 3px;
    position: absolute;
    bottom: 70%;
    right: 30%;
    left: 5%;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sec2{
    height: 400px;
    width: 1500px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: justify;
    padding-left: 300px;
    padding-right: 300px;

    padding-top: 100px;
    padding-bottom: 100px;
}
.sec3{
    background-image: url("https://images.squarespace-cdn.com/content/v1/534444fbe4b0f9ffdd2ebc61/1510765722553-76QEADJUAJRSEYMGLNSA/Ray+Romano+Contracting+combination+renovation+luxury+contemporary+Upper+East+Side+NYC+Hamptons+Brooklyn+NJ.jpg?format=2500w");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 1200x;
    position: relative;
}
.p12{
    background-color: rgba(244, 238, 238, 0.5);
    color: rgb(0, 0, 0);
    background-size: contain;
    /* padding-left: 50px; */
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 40px;
    padding: 15px;
    position: absolute;
    bottom: 70%;
    right: 43%;
    letter-spacing: 5px;
    text-transform: uppercase;
    left: 5%;

}
.sec4{
    height: 450px;
    width: 1500px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: justify;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.sec5{
   background-image: url("https://images.squarespace-cdn.com/content/v1/534444fbe4b0f9ffdd2ebc61/1510766494470-KZDDR11SFE43N4RHTCLR/Ray+Romano+Hamptons+Sag+Harbor+renovation.jpg?format=2500w"); 
   background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 1200x;
    position: relative;
}
.p13{
    background-color: rgba(244, 238, 238, 0.5);
    color: rgb(0, 0, 0);
    background-size: contain;
    /* padding-left: 50px; */
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 40px;
    padding: 15px;
    position: absolute;
    bottom: 70%;
    right: 80%;
    letter-spacing: 5px;
    text-transform: uppercase;
    left: 5%;
}
.sec6{
height: 400px;
    width: 1500px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: justify;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.sec7{
    background-image: url("https://images.squarespace-cdn.com/content/v1/534444fbe4b0f9ffdd2ebc61/1511367750555-BQMOKM1VBYO8IKWMX44W/1040.JPG?format=2500w");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 1200x;
    position: relative;
}
.p16{
    background-color: rgba(244, 238, 238, 0.5);
    color: rgb(0, 0, 0);
    background-size: contain;
    /* padding-left: 50px; */
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 40px;
    padding: 15px;
    position: absolute;
    bottom: 70%;
    right: 72%;
    letter-spacing: 5px;
    text-transform: uppercase;
    left: 5%;

}
.sec8{
    height: 480px;
    width: 1500px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: justify;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.sec9{
    background-image: url("https://images.squarespace-cdn.com/content/v1/534444fbe4b0f9ffdd2ebc61/1510767064224-MG3QKU4EG3Y4TCIEHUZQ/Custom+Closet+Ray+Rompano+Contracting+NYC+Brooklyn+Upper+east+Side+NYC+renovation.jpg?format=2500w");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 1200x;
    position: relative;
}
.p17{
    background-color: rgba(244, 238, 238, 0.5);
    color: rgb(0, 0, 0);
    background-size: contain;
    /* padding-left: 50px; */
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 40px;
    padding: 15px;
    position: absolute;
    bottom: 70%;
    right: 80%;
    letter-spacing: 5px;
    text-transform: uppercase;
    left: 5%;

}
.sec10{
    height: 600px;
    width: 1500px;
    background-color: rgb(255, 255, 255);
    /* color: black; */
    /* text-align: justify; */
    padding-left: 230px;
    /* padding-right: 10px; */ 
    padding-top: 100px;
    padding-bottom: 100px;
}
figure img{
    height: 200px;
    width: 350px; 
    padding-left: 30px;
} 
figure figcaption{
    padding-left: 30px;
    padding-bottom: 50px;
    padding-top: 20px;
}
footer{
    height: 150px;
    color: white;
    background-color: black;
    width: auto;
    text-align: center;
    padding: 70px;
}