/* body{
    background-color: brown;
} */

.div1{
    border: 2px solid;
    color: white;
    font-size: 30px;
    height: 300px;
    width: 100%;
    background-color: blue;
    background-image: url("https://i0.wp.com/picjumbo.com/wp-content/uploads/beautiful-fall-nature-scenery-free-image.jpeg?w=600&quality=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 20px;
    background-position-y: 50px; 
    /* we can also give negative values for left bottom  */
   background-attachment: fixed;
    overflow: hidden;
    overflow: visible;
    overflow: scroll;
    
}
h1{
    border-width: 3px;
    height: 200px;
    width:300px;
    border-width:20px;
    border-style: groove;
    border-color: aqua;

}
h2{
    border-top: solid red  ; 
    border-top-width: 5px;
    border-top-style:solid;
    height:100px;

    border-left-width: 10px;
    border-left-style: dotted;
    border-left-color:aqua;

    border-right-width: 15px;
    border-right-style: double;
    border-right-color: yellowgreen;

    border-bottom-width: 20px;
    border-bottom-style: groove;
    border-bottom-color: brown;


    border-radius: 20px;

    border-top-left-radius: 20px;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 20%;

    border-radius: 50%;



}