*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
nav{
    /* border: 2px solid; */
    height: 50px;
    display: flex;
    justify-content: center;
    position: sticky;
    top:0%;
    box-shadow: 0px 3px 3px rgb(170, 166, 166);
    background-color: white;
    padding: 15px;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}
.sec1{
    padding-top: 20px;
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    justify-content: space-around;
    /* padding: 15px; */
    padding-left: 300px;
    padding-right: 300px;

   
}
.div1{
    width: 200px;
    /* display: flex; */
    height: 410px;
    text-align: center;
    padding: 10px;
}
.img1{
    height: 250px;
}
.sec2{
    /* border: 2px solid; */
    /* padding-left: 250px; */
    /* padding-right: 200px; */
    text-align: center;
    /* padding-top: 30px; */
    padding: 30px 200px 30px 250px;
}
.sec2 img{
    height: 350px;
}
footer{
    /* border: 2px solid; */
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px;
}
footer div {
    /* border: 2px solid ; */
    height: 250px;
    width: 280px;
}
/* .fd1{
    padding: 0px;
} */
.fd2{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.insidediv1 {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
.insidediv1 img{
    height: 80px;
}
span{
    background-color: gray;
    color: white;
}